Meta information about {{this.model.parent_name}}:

<main>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in sollicitudin enim. Sed vel congue massa. Sed auctor vulputate est laoreet malesuada. Proin et tortor id mauris vestibulum facilisis eu in felis. Nunc convallis sollicitudin nisi, quis dignissim nunc interdum vel. Sed aliquet magna vel lacus maximus volutpat. Nunc eget dictum leo. Sed in nulla vel quam iaculis dignissim sit amet bibendum mi. Mauris dapibus nisl pharetra mauris elementum auctor. Vestibulum id viverra libero. Quisque vehicula vestibulum eros et consequat. Nullam nisi augue, lacinia sed odio et, luctus eleifend elit. Pellentesque auctor sapien gravida sapien cursus mattis. Mauris dictum odio mauris, a congue ex venenatis id. Praesent aliquam nunc nec auctor convallis. Nunc quis tincidunt quam.
</main>

{{outlet}}

<LinkTo @route="home">Go to home</LinkTo>