<h3>Settings</h3>
<LinkTo @route="settings.subscription">Go to subscription</LinkTo>

<ul>
  <li>paramNames: {{this.paramsNamesAsString}}</li>
  <li>params: {{this.paramsAsString}}</li>
</ul>
{{outlet}}